* {
	box-sizing: border-box;
}

body {
	background-color: #0b488e;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	color: #fff;
}

/*********
RAIN
*********/
.drop {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.6)));
	background: linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(255, 255, 255, .6) 100%);
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	animation: fall 0.5s linear infinite;
}

/*********
CHECKBOX
*********/
body>span {
	position: absolute;
	top: 20px;
	left: 52%;
	font-size: 20px;
}

input {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%) scale(2);
}

input[type=checkbox]:checked+main {
	animation-play-state: running;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-right: 25px;
	
	animation: wind 5s ease-out infinite;
	animation-play-state: paused;
}

/*********
LEFT MENU
*********/
main aside {
	flex-basis: 25%;
	flex-basis: 400px;

	width: 300px;
	height: 100%;
	text-align: center;
}

main aside header h2 {
	margin: 0;
	padding: 2px;
}

main aside header h1 {
	margin: 0;
	padding: 5px;
	font-size: 36px;
	transition: 500ms ease;
}

main aside header h1:hover {
	transform: scale(1.2) rotate(10deg) translateY(5px);
}

main aside header h1::before {
	content: '--';
	padding-right: 10px;
}

main aside header h1::after {
	content: '--';
	padding-left: 10px;
}

main aside ul {
	text-align: center;
	list-style: none;
	padding: 0;
	margin-top: 20px;
	font-size: 20px;
}

main aside ul li {
	padding: 10px;
	transition: all 500ms ease;
}

main aside ul li:hover {
	transform: scale(1.8) rotate(10deg);
	font-weight: bold;
}

main aside p {
	position: relative;
	font-size: 14px;
}

/*********
MENU
*********/
main section {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 75%;
	flex-basis: 250px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	align-items: start;
}

main section h4:first-child {
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
	margin-top: 40px;
	color: #fff;

	transition: all 300ms ease;
}

main section h4:first-child span:hover {
	color: #bfd5ff;
	font-weight: bold;
}

main section article {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
	align-items: center;
	padding: 20px;
	transition: 500ms ease;

	background-color: blue;
	animation: colorChange 5s ease infinite both;
}

main section article:nth-of-type(2) svg {
	width: 75%;
	margin-left: 15px;
}

main section article:nth-of-type(3) svg {
	width: 85%;
	margin-left: 15px;
}

main section article:nth-of-type(3n) {
	animation-delay: 3s;
}

main section article:nth-of-type(1) {
	animation-delay: 5s;
}

main section article:nth-of-type(4) {
	animation-delay: 3.5s;
}

main section article:hover {
	transform: scale(1.05);
}

main section article {
	grid-template-areas: "image text text text";
}

main section article:nth-child(4n + 3),
main section article:nth-child(4n) {
	grid-template-areas: "text text text image";
}

main section article img {
	grid-area: image;
	max-width: 100px;
}

main article div {
	grid-area: text;
}

main section article div h3 {
	margin: 10px 0 15px;
	font-size: 16px;
}

main section article p {
	font-size: 15px;
}

main section article p>span {
	color: #eff7ff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: underline;
}

/*********
SVG ANIMATION
*********/
main section article:nth-of-type(1) svg g g {
	animation: spots 3s linear infinite;
	transform-origin: bottom;
}

main section article:nth-of-type(2) svg g {
	animation: steam 3s linear infinite;
}

main section article:nth-of-type(3) svg g:nth-of-type(2) {
	animation: spoon 4s linear infinite;
	transform-origin: bottom;
}

main section article:nth-of-type(3) svg g:nth-of-type(3) {
	animation: smoke 3s linear infinite;
	transform-origin: bottom;
}

main section article:nth-of-type(4) svg path:nth-of-type(3) {
	animation: cheese 2500ms linear infinite;
	transform-origin: middle;
}

main section article:nth-of-type(5) svg g>path {
	animation: colors 4500ms ease infinite;
}

@keyframes spots {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(10deg) translateY(4px) translateX(-4px);
	}
}

@keyframes spoon {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-75px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes smoke {
	0% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-2deg);
	}

	75% {
		transform: rotate(2deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes colorChange {
	0% {
		background-color: #2b7cd8;
	}

	25% {
		background-color: #1a64ba;
	}

	50% {
		background-color: #0b488e;
	}

	75% {
		background-color: #0b62c6;
	}

	100% {
		background-color: #2b7cd8;
	}
}

@keyframes backgroundChange {
	25% {
		background-color: #2482f4;
	}

	100% {
		background-color: #00BFFE;
	}
}

@keyframes steam {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(5px);
	}

	75% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(5px);
	}
}

@keyframes cheese {
	0% {
		transform: translate(0, 0));
	}

	25% {
		transform: translate(36px, 22px);
	}

	75% {
		transform: translate(-19px, 42px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes colors {
	25% {
		fill: #f7df2b;
	}

	50% {
		fill: #f7ba2b;
	}

	75% {
		fill: #E08431;
	}

	100% {
		fill: #ffe73c;
	}
}

@keyframes wind {
	10% {
		transform: translateX(20px) rotate(-5deg);
	}

	30% {
		transform: translateX(5px) rotate(2deg);
	}

	50% {
		transform: translateX(50px) rotate(-10deg);
	}

	65% {
		transform: translateX(7px) rotate(4deg);
	}

	80% {
		transform: translateX(50px) rotate(-10deg);
	}
}

@keyframes fall {
	to {
		margin-top: 900px;
	}
}